body {
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s; /* плавный переход при смене темы */
}

a {
    text-decoration: none;
    color: var(--color-accent); /* используем переменную акцента */
    transition: color 0.3s;
}
